/* TYPOGRAPHY */

$black: #0a0a0a;
$white: #fff;
$orange: #f1592b;
$grey: #525252;

$primary: $orange;

@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
$catamaran: 'Catamaran', sans-serif;

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
}

/* Homepage */
// Reviews
.home {
  .swiper-slide {
    border: 0 !important;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,0.12);
    .elementor-testimonial {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &::before {
        content: "\201C";
        font-size: 8rem;
        color: $primary;
        font-family: $catamaran;
        line-height: 1;
        position: relative;
        top: .5em;
        left: .09em;
        margin-top: -.5em;
      }
      .elementor-testimonial__header {
        order: 2;
        border: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        .elementor-testimonial__cite {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }
      .elementor-testimonial__content {
        order: 1;
        .elementor-testimonial__text {
          max-height: 200px;
          overflow: scroll;
          margin-bottom: 3em;
        }
      }
    }
  }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  font-weight: 400;
}

/* Product Page */

.woocommerce div.product.elementor form.cart table.variations td {
  line-height: 1;
  background: $white;
}

.woocommerce div.product.elementor form.cart table.variations td.value {
  position: relative;
  width: 75%;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.woocommerce div.product.elementor form.cart table.variations td.value:before {
  content: "-";
  color: transparent;
  background-color: $white;
  max-width: 0;

}

.woocommerce div.product form.cart {
  position: relative;
}

.woocommerce div.product form.cart table.variations td.value select {
  width: 100% !important;
}

.woocommerce div.product form.cart a.reset_variations {
  position: absolute;
  right: 0;
  bottom: -2em;
  z-index: 2;
}

.woocommerce div.product table.variations td {
  margin-bottom: 1em;
}

.woocommerce div.product .single_variation_wrap {
  margin-top: -1em;
}

.woocommerce .woocommerce-variation .woocommerce-variation-description {
  padding-top: 1em;
  font-size: .875rem;
  line-height: 1.8;
}

.woocommerce {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", Sans-serif;
    font-weight: 700;
  }
  p, a {
    font-family: "Nunito", Sans-serif;
    font-weight: 400;
  }
  a {
    &:hover {
      color: $black;
    }
  }
  /* Buttons */
  a.button.alt, button.button.alt {
    text-transform: capitalize;
    background-color: $primary;
    border-radius: 2px;
    padding: 15px 140px;
    &:hover {
      color: $primary;
      background-color: $grey;
    }
  }
}

/* Cart */
.woocommerce-cart {
  table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
    background-color: $white;
  }
}

/* Checkout */
.woocommerce-checkout {
  span {
    font-family: "Nunito", Sans-serif;
    font-weight: 700;
  }
  input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], select, textarea {
    border-color: #dedede;
    border-radius: 2px;
  }
  #payment {
    background-color: $white;
  }
}

/* Compare */
.woocommerce-products-compare-content {
  max-width: 1200px;
  margin: 0 auto 4em;
  table caption + thead tr:first-child th, table caption + thead tr:first-child td, table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
    border-top: 0;
  }
  table {
    tbody tr {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
    thead tr:first-child {
      border: 0;
    }
    .products {
      border-left: 1px solid #ccc;
      .header-title {
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
      }
    }
    .product {
      a {
        color: $black;
      }
      .price {
        color: $black;
      }
    }
    a.button {
      border-radius: 2px;
      border: none;
      text-transform: capitalize;
      background-color: $orange;
      color: $white;
      padding: .9375rem 2.5rem;
      &:hover {
        background-color: #525252;
        color: $white;
      }
    }
  }
}

.woocommerce-order-received {
  .outside-order {
    display: none;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .woocommerce .woocommerce-variation .woocommerce-variation-description {
    width: 100%;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .woocommerce .woocommerce-variation .woocommerce-variation-description {
    width: 70%;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .woocommerce .woocommerce-variation .woocommerce-variation-description {
    width: 65%;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}


